.hospital-detail-wrapper{
    .product-detail-header{
        // border-bottom: solid 1px #BBC4C7;
        align-items: flex-end;
        background: #fff;
        padding: 25px 0 15px;

        h2{
            font-family: 'Georgia-Bold';
            font-size: 1.25rem !important;
        }
        h3{
            font-size: 1rem;
            padding: 10px 0;
        }

        button{
            float: right;
            box-shadow: none;
            height: auto;
            letter-spacing: 0.24px;
            font-family: 'ProximaNova-Semibold' !important;
            font-size: .7rem;
            height: 36px;
        }
    }

   

    .detail-wrapper{
        background:#f8f8f8;
        padding: 50px 0 40px 0;

        .detail-right-content{
            @media (max-width: 991px){
                margin-top: 50px;
            }
        }

        address, .call{
            font-size: 0.875rem;
            margin: 0;
        }
        .visit-website{
            text-decoration: underline;
            color: #22222299
        }

        .card-body {
            padding: 1.25rem 2rem;

            .card-title{
                font-family: 'ProximaNova-Semibold' !important;
                font-size: 1.5rem;

                i {
                    margin: 0 10px;
                }
            }

            .card-text {
                color: #222222;
                font-size: 0.875rem;
                font-family: 'ProximaNova-Regular' !important;
            }

            .number-of-bed{
                color: #1B86C7;
            }
            .number-of-icu-bed{
                color: #292993;
            }
            .number-of-operation {
                color: #87268B;
            }
            .domestic-patient{
                color: #C7851B;
            }
            .international-patient{
                color:  #1BC0C7;
            }
            .airport-distance{
                color: #424281;
            }
             
        }

        .card{
            max-width: 567px;
            border: none;
            box-shadow: 0px 10px 20px #0000001A;

            @media (max-width: 991px){
                margin: auto;
                max-width: 100%;
            }

            .content-row{
                border-bottom: solid 1px #BBC4C7;
                
            }
            .content-column{
                border-right: 1px solid #BBC4C7;
                padding: 18px 14px;
                @media (max-width: 991px){
                   border: none;
                }
            }

            .no-border{
                border: none;
            }
        }

        .nav-tabs{
            margin-top: 20px;
            justify-content: space-between;
            @media (max-width: 991px){
                flex-direction: column;
            }
            .nav-link{
                border: none;
                color: #22222299;
                padding: 0 0 12px 0;

                @media (max-width: 991px){
                    margin-bottom: 20px;
                }

                &:focus,&:hover {
                    outline: none;
                    border: none;
                }
                &.active{
                        border: none;
                        background: none;
                        color: #46B469 !important;
                        border-bottom: solid #46B469;
                }
            }
           
        }
        .tab-content{
            .tab-about{
                button{
                    margin-top: 22px;
                }
            }
            .active{
                padding: 20px 0;
            }
            .form-control.select{
                background-position-x: 97%;
                background-color: #fff;
            }
            ul,li{
                padding-left: 16px;
                list-style: disc;
            }
            .card{
                &.package-card{
                    padding-top: 18px;
                }
                max-width: 100%;
                .card-text{
                    border-top: solid 1px #BBC4C7;
                    padding: 10px 0;
                    margin: 20px 0;
                }
                ul,li{
                    padding-left: 16px;
                    list-style: disc;
                }
                button{
                    font-size: .7rem;
                    height: 36px;
                }
            }
        }
        
    }
   
}