
// https://www.web-font-generator.com/

@font-face {
  font-family: 'Georgia-Regular';
  src: url('Georgia.eot?#iefix') format('embedded-opentype'),  url('Georgia.woff') format('woff'), url('Georgia.ttf')  format('truetype'), url('Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Georgia-Bold';
  src: url('Georgia-Bold.eot?#iefix') format('embedded-opentype'),  url('Georgia-Bold.woff') format('woff'), url('Georgia-Bold.ttf')  format('truetype'), url('Georgia-Bold.svg#Georgia-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Georgia-BoldItalic';
  src: url('Georgia-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('Georgia-BoldItalic.woff') format('woff'), url('Georgia-BoldItalic.ttf')  format('truetype'), url('Georgia-BoldItalic.svg#Georgia-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}










@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Regular.otf')  format('opentype'),
	     url('ProximaNova-Regular.woff') format('woff'), url('ProximaNova-Regular.ttf')  format('truetype'), url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'ProximaNovaS-Light';
  src: url('ProximaNovaS-Light.eot?#iefix') format('embedded-opentype'),  url('ProximaNovaS-Light.otf')  format('opentype'),
	     url('ProximaNovaS-Light.woff') format('woff'), url('ProximaNovaS-Light.ttf')  format('truetype'), url('ProximaNovaS-Light.svg#ProximaNovaS-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


 
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Semibold.otf')  format('opentype'),
	     url('ProximaNova-Semibold.woff') format('woff'), url('ProximaNova-Semibold.ttf')  format('truetype'), url('ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'ProximaNovaT-Thin';
  src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),  url('ProximaNovaT-Thin.otf')  format('opentype'),
	     url('ProximaNovaT-Thin.woff') format('woff'), url('ProximaNovaT-Thin.ttf')  format('truetype'), url('ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'ProximaNovaS-Extrabld';
  src: url('ProximaNovaS-Extrabld.eot?#iefix') format('embedded-opentype'),  url('ProximaNovaS-Extrabld.otf')  format('opentype'),
	     url('ProximaNovaS-Extrabld.woff') format('woff'), url('ProximaNovaS-Extrabld.ttf')  format('truetype'), url('ProximaNovaS-Extrabld.svg#ProximaNovaS-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}
