// Georgia fonts
@font-face {
    font-family: 'georgia_regular';
    src: url('./georgia/georgia_regular.ttf') format('ttf');
  }

  @font-face {
    font-family: 'georgiai_regular_italic';
    src: url('./georgia/georgiai_regular_italic.ttf') format('ttf');
  }

  @font-face {
    font-family: 'georgia_bold';
    src: url('./georgia/georgia_bold.ttf') format('ttf');
  }

  @font-face {
    font-family: 'georgia_bold_italic';
    src: url('./georgia/georgia_bold_italic.ttf') format('ttf');
  }
 


// Proximanova fonts

  @font-face {
    font-family: 'proximanova__semibold_italic';
    src: url('./proximanovafonts/proximanova__semibold_italic.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_condensed_semibold';
    src: url('./proximanovafonts/proximanova_condensed_semibold.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_condensed_thin_italic';
    src: url('./proximanovafonts/proximanova_condensed_thin_italic.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_extra_condensed_semibold';
    src: url('./proximanovafonts/proximanova_extra_condensed_semibold.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_extrabold';
    src: url('./proximanovafonts/proximanova_extrabold.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_extrabold_italic';
    src: url('./proximanovafonts/proximanova_extrabold_italic.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_light';
    src: url('./proximanovafonts/proximanova_light.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_light_italic';
    src: url('./proximanovafonts/proximanova_light_italic.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_regular';
    src: url('./proximanovafonts/proximanova_regular.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_semibold';
    src: url('./proximanovafonts/proximanova_semibold.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_thin';
    src: url('./proximanovafonts/proximanova_thin.otf') format('otf');
  }

 
  @font-face {
    font-family: 'proximanova_thin_italic';
    src: url('./proximanovafonts/proximanova_thin_italic.otf') format('otf');
  }

 
   
 