.testimonial-carousel-wrapper{
    // background: #F8F8F8;
    // padding: 70px;

    .carousel-inner{
        padding-top: 33px;
    }

    .carousel-image-wrapper {
        float: right;
        margin-right: 5%;
        margin-top: 34px;
        position: relative;
        z-index: 1;
    }

    .carousel-image{
        position: relative;
        margin-right: 37%;
        float: right;
        top: 7%;    
        max-width: 90%;
    }

    .quotes-top{
        position: absolute;
        right: -9%;
        top: -12%;
    }
    .quotes-bottom{
        transform: rotateY(180deg);
        position: absolute;
        bottom: 0;
        left: -72%;
    }
    .carousel-indicators{
        display: none;
    }
    .carousel-control-prev{
        right: 0;
        top: 280px;
        left: auto !important;
        opacity: 1;
    }
    .carousel-control-next{
        top: 431px;
        opacity: 1;
    }


    //Select section
    .select-wrapper{
        padding: 0 0 30px;
        position: relative;
        z-index: 2;

        h3{
            font-family: 'ProximaNova-Semibold';
            font-size: 1.5rem;
            margin-bottom:0;
        }
        address{
            text-transform: uppercase;
            font-family: 'ProximaNovaS-Light', sans-serif !important;
            font-weight: 100;
            font-size: 0.875rem;
        }
        article{
            font-size:1rem;
            font-family: 'ProximaNova-Semibold';
        }
    }
    .testimonials{
        ul {
            display: flex;
            li {
                padding: 0 6px 0 0;
                &.not-rated{
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                }
            }
        }
         
    }
    .list-header{
        padding: 0;
        text-align: left;
        h2{
            padding: 0 0 10px;
        }
    }
}


@media (max-width: 900px){
    .testimonial-carousel-wrapper {
        .carousel-image-wrapper{
            margin: 0;
            width: 100%;

            .carousel-image{
                margin: 0;
                padding: 0;
                max-width: 100%;
                width: 100%;
            }

            
        }
        .carousel-control-prev{
            width: 143px;
            margin: 13px 0;
        }
        .carousel-control-next {
            width: 143px;
        }

        .quotes-bottom,.quotes-top{
            display: none;
        }
        
        
    }
}