button{
  &.button-primary{
    height: 48px;
    background: #46B469;
    box-shadow: 0px 8px 14px #48A86633;
    outline: none;
        border:none;

        &.btn-primary:not(:disabled):not(.disabled).active, 
        &.btn-primary:not(:disabled):not(.disabled):active, 
        &.show>.btn-primary.dropdown-toggle,&:hover,&:focus,&:active{
        background: #40a25f;
        box-shadow: 0px 8px 14px #48A86633;
        outline: solid 1px green;
        border-color:  green;
    }

    &.btn-primary:not(:disabled):not(.disabled).active, 
        &.btn-primary:not(:disabled):not(.disabled):active{
            background: #388e53;
            
            box-shadow: 0px 8px 14px #48A86633;
            outline: solid 1px green;
            border-color:  green;
        }
    
}
 &.button-outline{
    background: #fff;
    color: #46B469;
    border: solid 1px;
    
  
    &.show>.btn-primary.dropdown-toggle,&:hover,&:focus,&:active{
          background: #fff;
          color: #46B469;
            box-shadow: 0px 8px 14px #48A86633;
            outline: solid 1px green;
            border-color:  green;
        }
  }
}




.route-selected{
    // border-bottom: solid 2px #46B469;
    color: #284748 !important;
    opacity: 1;
  }

  h2,h1,.title,h1.title{
    color: #284748;
    font-family: 'Georgia-Bold';
    font-weight: 600 !important;
    font-size: 34px !important;
    letter-spacing: 1px;
  }
  h2{
    font-size: 30px !important;
  }

  button,input,.select{
    font-family: 'ProximaNova-Regular' !important;
  }
   

  .list-header{
    text-align: center;
    padding: 0 0 30px 0;

    span{
        text-transform: uppercase;
        color: #46B469;
        font-family: 'ProximaNova-Semibold';
        font-size: 14px;
    }
    h2{
        padding: 10px 0 0;

        @media (max-width: 991px){
             padding: 10px 10px;
         }
    }
}

.add-destination{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0;
    border-bottom: solid 1px #BBC4C7;
  .icon{
    width: 68px;
    height: 68px;
    display: block;
    background: #f3fbf7;
    border-radius: 50%;
    border: dashed 2px #2b4748;
    color: #47b469;
    font-size: 47px;
    text-align: center;
    font-family: 'ProximaNovaS-Light', sans-serif  !important;;
    font-weight: 100;
  }
  .text{
    font-family: 'ProximaNova-Semibold';
    padding: 7px 0 0;
  }
}

.home-section{
  margin-top: 70px;
  padding: 0 65px;

  @media (max-width: 1150px){
      padding: 0;
   }

  &.background{
    margin-top: 70px;
    padding: 70px 65px;
    background: #F8F8F8;

    &.testimonial-carousel{
      padding: 40px 65px 70px;
      @media (max-width: 1150px){
        padding: 30px;
       }
    }

    @media (max-width: 1150px){
      padding: 30px;
     }
  }
}



//STICKY HEADER
.sticky{
  position: sticky;
  top: 0;
}


//BREADCRUMB
.breadcrumb-wrapper {
  padding: 15px 0;
}

//READMORE
.read-more{
  color:#2A4748;
  i{
      position: relative;
      left: 7px;
      top: 4px;
  }
}

//LOADER


.loader {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}
.loader div {
position: absolute;
border: 4px solid #46B469;
opacity: 1;
border-radius: 50%;
animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
animation-delay: -0.5s;
}
@keyframes loader {
0% {
  top: 36px;
  left: 36px;
  width: 0;
  height: 0;
  opacity: 1;
}
100% {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  opacity: 0;
}
}


//DISABLED
.button-outline.disabled, .btn-primary.disabled, .btn-primary:disabled {
  color: #fff !important;
  background-color: #929292 !important;
  border-color: #9c9c9c !important;
  pointer-events: none;
}



//RATING
.rating{
  display: flex;
  padding: 0;
  transform: scale(0.8);
  margin: 0;

      li {
          list-style: none;
          padding: 0 6px 0 0;
          &.not-rated{
              -webkit-filter: grayscale(1);
              filter: grayscale(1);
          }
      }
  }



  //FORMS

  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0 25px;

    label{
      font-size: .75rem;
    }

    input, textarea {
      border: none;
      border-bottom: solid 1px #222;
      &:focus{
        outline: none;
      }
      &::placeholder {
        color: #222222;
    }
  }

  .file-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    input{
      border: none;
      position: relative;
      z-index: 3;
      
    }
    span{
      padding: 12px 0;
      color: #4E5165;
      font-size: .75rem;
      
      &.max-limit{
        color: #9799A2;
      }
      a{
        color: #448DD5;
      }
    }
    ::-webkit-file-upload-button {
      // visibility: hidden;
      background: none;
      border: none;
      padding-left: 22px;
      color: transparent;
      min-height: 36px;
    }
    .icon-upload{
      position: absolute;
    }
  }
}
.form-button-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    

    @media (max-width: 991px){
      flex-direction: column;
    }

    button{
      height: auto;
      padding: 10px 30px;
      font-size: .75rem;

      @media (max-width: 991px){
        margin: 0 0 10px;
      }
    }
}

