button{
  &.button-primary{
    height: 48px;
    background: #46B469;
    box-shadow: 0px 8px 14px #48A86633;
    outline: none;
        border:none;

        &.btn-primary:not(:disabled):not(.disabled).active, 
        &.btn-primary:not(:disabled):not(.disabled):active, 
        &.show>.btn-primary.dropdown-toggle,&:hover,&:focus,&:active{
        background: #40a25f;
        box-shadow: 0px 8px 14px #48A86633;
        outline: solid 1px green;
        border-color:  green;
    }

    &.btn-primary:not(:disabled):not(.disabled).active, 
        &.btn-primary:not(:disabled):not(.disabled):active{
            background: #388e53;
            
            box-shadow: 0px 8px 14px #48A86633;
            outline: solid 1px green;
            border-color:  green;
        }
    
}
 &.button-outline{
    background: #fff;
    color: #46B469;
    border: solid 1px;
    
  
    &.show>.btn-primary.dropdown-toggle,&:hover,&:focus,&:active{
          background: #fff;
          color: #46B469;
            box-shadow: 0px 8px 14px #48A86633;
            outline: solid 1px green;
            border-color:  green;
        }
  }
}




.route-selected{
    // border-bottom: solid 2px #46B469;
    color: #284748 !important;
    opacity: 1;
  }

  h2,h1,.title,h1.title{
    color: #284748;
    font-family: 'Georgia-Bold';
    font-weight: 600 !important;
    font-size: 34px !important;
    letter-spacing: 1px;
  }
  h2{
    font-size: 30px !important;
  }

  button,input,.select{
    font-family: 'ProximaNova-Regular' !important;
  }
   

  .list-header{
    text-align: center;
    padding: 0 0 30px 0;

    span{
        text-transform: uppercase;
        color: #46B469;
        font-family: 'ProximaNova-Semibold';
        font-size: 14px;
    }
    h2{
        padding: 10px 0 0;

        @media (max-width: 991px){
             padding: 10px 10px;
         }
    }
}

.add-destination{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0;
    border-bottom: solid 1px #BBC4C7;
  .icon{
    width: 68px;
    height: 68px;
    display: block;
    background: #f3fbf7;
    border-radius: 50%;
    border: dashed 2px #2b4748;
    color: #47b469;
    font-size: 47px;
    text-align: center;
    font-family: 'ProximaNovaS-Light', sans-serif  !important;;
    font-weight: 100;
  }
  .text{
    font-family: 'ProximaNova-Semibold';
    padding: 7px 0 0;
  }
}

.home-section{
  margin-top: 70px;
  padding: 0 65px;

  @media (max-width: 1150px){
      padding: 0;
   }

  &.background{
    margin-top: 70px;
    padding: 70px 65px;
    background: #F8F8F8;

    @media (max-width: 1150px){
      padding: 30px;
     }
  }
}