/* Sprite icon
-------------------------------*/

@mixin iconCarousel($width, $height, $x:0, $y:0) {
  background: url("../../public/images/sprite.png") $x $y !important;
  width: $width !important; 
  height: $height !important;
  display: inline-block;
}

.carousel-control-next-icon {
  @include iconCarousel($carousel-control-next-icon-width, $carousel-control-next-icon-height, $carousel-control-next-icon-offset-x, $carousel-control-next-icon-offset-y);
}
.carousel-control-prev-icon {
  @include iconCarousel($carousel-control-prev-icon-width, $carousel-control-prev-icon-height, $carousel-control-prev-icon-offset-x, $carousel-control-prev-icon-offset-y);
}

@mixin icon($width, $height, $x:0, $y:0) {
    background: url("../../public/images/sprite.png") $x $y;
    width: $width;
    height: $height;
    display: inline-block;
  }
  
  .icon-search {
    @include icon($icon-search-width, $icon-search-height, $icon-search-offset-x, $icon-search-offset-y);
  }

  .icon-heartbeat {
    @include icon($icon-heartbeat-width, $icon-heartbeat-height, $icon-heartbeat-offset-x, $icon-heartbeat-offset-y);
  }

  .icon-cardiology {
    @include icon($icon-cardiology-width, $icon-cardiology-height, $icon-cardiology-offset-x, $icon-cardiology-offset-y);
  }

  .icon-cancer {
    @include icon($icon-cancer-width, $icon-cancer-height, $icon-cancer-offset-x, $icon-cancer-offset-y);
  }
  .icon-transplant {
    @include icon($icon-transplant-width, $icon-transplant-height, $icon-transplant-offset-x, $icon-transplant-offset-y);
  }
  .icon-fertility {
    @include icon($icon-fertility-width, $icon-fertility-height, $icon-fertility-offset-x, $icon-fertility-offset-y);
  }
  .icon-orthopadic {
    @include icon($icon-orthopadic-width, $icon-orthopadic-height, $icon-orthopadic-offset-x, $icon-orthopadic-offset-y);
  }
  .icon-neuro-and-brain {
    @include icon($icon-neuro-and-brain-width, $icon-neuro-and-brain-height, $icon-neuro-and-brain-offset-x, $icon-neuro-and-brain-offset-y);
  }
  .icon-weight-loss {
    @include icon($icon-weight-loss-width, $icon-weight-loss-height, $icon-weight-loss-offset-x, $icon-weight-loss-offset-y);
  }
  .icon-spine {
    @include icon($icon-spine-width, $icon-spine-height, $icon-spine-offset-x, $icon-spine-offset-y);
  }
  .icon-urology {
    @include icon($icon-urology-width, $icon-urology-height, $icon-urology-offset-x, $icon-urology-offset-y);
  }
  .icon-gastroenterlogy {
    @include icon($icon-gastroenterlogy-width, $icon-gastroenterlogy-height, $icon-gastroenterlogy-offset-x, $icon-gastroenterlogy-offset-y);
  }
  .icon-dentistry {
    @include icon($icon-dentistry-width, $icon-dentistry-height, $icon-dentistry-offset-x, $icon-dentistry-offset-y);
  }
  .icon-plastic-surgery {
    @include icon($icon-plastic-surgery-width, $icon-plastic-surgery-height, $icon-plastic-surgery-offset-x, $icon-plastic-surgery-offset-y);
  }
  
  .icon-carousel-quotes {
    @include icon($icon-carousel-quotes-width, $icon-carousel-quotes-height, $icon-carousel-quotes-offset-x, $icon-carousel-quotes-offset-y);
  }
  .icon-rated-star {
    @include icon($icon-rated-star-width, $icon-rated-star-height, $icon-rated-star-offset-x, $icon-rated-star-offset-y);
  }


  .icon-care {
    @include icon($icon-care-width, $icon-care-height, $icon-care-offset-x, $icon-care-offset-y);
  }


  .icon-professional {
    @include icon($icon-professional-width, $icon-professional-height, $icon-professional-offset-x, $icon-professional-offset-y);
  }

  .icon-treansparency {
    @include icon($icon-treansparency-width, $icon-treansparency-height, $icon-treansparency-offset-x, $icon-treansparency-offset-y);
  }


  .icon-path {
    @include icon($icon-path-width, $icon-path-height, $icon-path-offset-x, $icon-path-offset-y);
  }

  .icon-arrow-filled-next {
    @include icon($icon-arrow-filled-next-width, $icon-arrow-filled-next-height, $icon-arrow-filled-next-offset-x, $icon-arrow-filled-next-offset-y);
  }




  