// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$carousel-control-next-icon-name: 'carousel-control-next-icon';
$carousel-control-next-icon-x: 151px;
$carousel-control-next-icon-y: 68px;
$carousel-control-next-icon-offset-x: -151px;
$carousel-control-next-icon-offset-y: -68px;
$carousel-control-next-icon-width: 90px;
$carousel-control-next-icon-height: 90px;
$carousel-control-next-icon-total-width: 694px;
$carousel-control-next-icon-total-height: 395px;
$carousel-control-next-icon-image: 'sprite.png';
$carousel-control-next-icon: (151px, 68px, -151px, -68px, 90px, 90px, 694px, 395px, 'sprite.png', 'carousel-control-next-icon', );
$carousel-control-prev-icon-name: 'carousel-control-prev-icon';
$carousel-control-prev-icon-x: 282px;
$carousel-control-prev-icon-y: 181px;
$carousel-control-prev-icon-offset-x: -282px;
$carousel-control-prev-icon-offset-y: -181px;
$carousel-control-prev-icon-width: 50px;
$carousel-control-prev-icon-height: 50px;
$carousel-control-prev-icon-total-width: 694px;
$carousel-control-prev-icon-total-height: 395px;
$carousel-control-prev-icon-image: 'sprite.png';
$carousel-control-prev-icon: (282px, 181px, -282px, -181px, 50px, 50px, 694px, 395px, 'sprite.png', 'carousel-control-prev-icon', );
$icon-arrow-filled-next-name: 'icon-arrow-filled-next';
$icon-arrow-filled-next-x: 322px;
$icon-arrow-filled-next-y: 134px;
$icon-arrow-filled-next-offset-x: -322px;
$icon-arrow-filled-next-offset-y: -134px;
$icon-arrow-filled-next-width: 9px;
$icon-arrow-filled-next-height: 15px;
$icon-arrow-filled-next-total-width: 694px;
$icon-arrow-filled-next-total-height: 395px;
$icon-arrow-filled-next-image: 'sprite.png';
$icon-arrow-filled-next: (322px, 134px, -322px, -134px, 9px, 15px, 694px, 395px, 'sprite.png', 'icon-arrow-filled-next', );
$icon-cancer-name: 'icon-cancer';
$icon-cancer-x: 522px;
$icon-cancer-y: 68px;
$icon-cancer-offset-x: -522px;
$icon-cancer-offset-y: -68px;
$icon-cancer-width: 62px;
$icon-cancer-height: 62px;
$icon-cancer-total-width: 694px;
$icon-cancer-total-height: 395px;
$icon-cancer-image: 'sprite.png';
$icon-cancer: (522px, 68px, -522px, -68px, 62px, 62px, 694px, 395px, 'sprite.png', 'icon-cancer', );
$icon-cardiology-name: 'icon-cardiology';
$icon-cardiology-x: 0px;
$icon-cardiology-y: 269px;
$icon-cardiology-offset-x: 0px;
$icon-cardiology-offset-y: -269px;
$icon-cardiology-width: 52px;
$icon-cardiology-height: 63px;
$icon-cardiology-total-width: 694px;
$icon-cardiology-total-height: 395px;
$icon-cardiology-image: 'sprite.png';
$icon-cardiology: (0px, 269px, 0px, -269px, 52px, 63px, 694px, 395px, 'sprite.png', 'icon-cardiology', );
$icon-care-name: 'icon-care';
$icon-care-x: 322px;
$icon-care-y: 68px;
$icon-care-offset-x: -322px;
$icon-care-offset-y: -68px;
$icon-care-width: 76px;
$icon-care-height: 66px;
$icon-care-total-width: 694px;
$icon-care-total-height: 395px;
$icon-care-image: 'sprite.png';
$icon-care: (322px, 68px, -322px, -68px, 76px, 66px, 694px, 395px, 'sprite.png', 'icon-care', );
$icon-carousel-quotes-name: 'icon-carousel-quotes';
$icon-carousel-quotes-x: 0px;
$icon-carousel-quotes-y: 68px;
$icon-carousel-quotes-offset-x: 0px;
$icon-carousel-quotes-offset-y: -68px;
$icon-carousel-quotes-width: 151px;
$icon-carousel-quotes-height: 113px;
$icon-carousel-quotes-total-width: 694px;
$icon-carousel-quotes-total-height: 395px;
$icon-carousel-quotes-image: 'sprite.png';
$icon-carousel-quotes: (0px, 68px, 0px, -68px, 151px, 113px, 694px, 395px, 'sprite.png', 'icon-carousel-quotes', );
$icon-dentistry-name: 'icon-dentistry';
$icon-dentistry-x: 124px;
$icon-dentistry-y: 181px;
$icon-dentistry-offset-x: -124px;
$icon-dentistry-offset-y: -181px;
$icon-dentistry-width: 62px;
$icon-dentistry-height: 62px;
$icon-dentistry-total-width: 694px;
$icon-dentistry-total-height: 395px;
$icon-dentistry-image: 'sprite.png';
$icon-dentistry: (124px, 181px, -124px, -181px, 62px, 62px, 694px, 395px, 'sprite.png', 'icon-dentistry', );
$icon-fertility-name: 'icon-fertility';
$icon-fertility-x: 460px;
$icon-fertility-y: 68px;
$icon-fertility-offset-x: -460px;
$icon-fertility-offset-y: -68px;
$icon-fertility-width: 62px;
$icon-fertility-height: 63px;
$icon-fertility-total-width: 694px;
$icon-fertility-total-height: 395px;
$icon-fertility-image: 'sprite.png';
$icon-fertility: (460px, 68px, -460px, -68px, 62px, 63px, 694px, 395px, 'sprite.png', 'icon-fertility', );
$icon-gastroenterlogy-name: 'icon-gastroenterlogy';
$icon-gastroenterlogy-x: 186px;
$icon-gastroenterlogy-y: 181px;
$icon-gastroenterlogy-offset-x: -186px;
$icon-gastroenterlogy-offset-y: -181px;
$icon-gastroenterlogy-width: 44px;
$icon-gastroenterlogy-height: 62px;
$icon-gastroenterlogy-total-width: 694px;
$icon-gastroenterlogy-total-height: 395px;
$icon-gastroenterlogy-image: 'sprite.png';
$icon-gastroenterlogy: (186px, 181px, -186px, -181px, 44px, 62px, 694px, 395px, 'sprite.png', 'icon-gastroenterlogy', );
$icon-heartbeat-name: 'icon-heartbeat';
$icon-heartbeat-x: 332px;
$icon-heartbeat-y: 181px;
$icon-heartbeat-offset-x: -332px;
$icon-heartbeat-offset-y: -181px;
$icon-heartbeat-width: 28px;
$icon-heartbeat-height: 26px;
$icon-heartbeat-total-width: 694px;
$icon-heartbeat-total-height: 395px;
$icon-heartbeat-image: 'sprite.png';
$icon-heartbeat: (332px, 181px, -332px, -181px, 28px, 26px, 694px, 395px, 'sprite.png', 'icon-heartbeat', );
$icon-neuro-and-brain-name: 'icon-neuro-and-brain';
$icon-neuro-and-brain-x: 62px;
$icon-neuro-and-brain-y: 181px;
$icon-neuro-and-brain-offset-x: -62px;
$icon-neuro-and-brain-offset-y: -181px;
$icon-neuro-and-brain-width: 62px;
$icon-neuro-and-brain-height: 62px;
$icon-neuro-and-brain-total-width: 694px;
$icon-neuro-and-brain-total-height: 395px;
$icon-neuro-and-brain-image: 'sprite.png';
$icon-neuro-and-brain: (62px, 181px, -62px, -181px, 62px, 62px, 694px, 395px, 'sprite.png', 'icon-neuro-and-brain', );
$icon-orthopadic-name: 'icon-orthopadic';
$icon-orthopadic-x: 52px;
$icon-orthopadic-y: 269px;
$icon-orthopadic-offset-x: -52px;
$icon-orthopadic-offset-y: -269px;
$icon-orthopadic-width: 40px;
$icon-orthopadic-height: 62px;
$icon-orthopadic-total-width: 694px;
$icon-orthopadic-total-height: 395px;
$icon-orthopadic-image: 'sprite.png';
$icon-orthopadic: (52px, 269px, -52px, -269px, 40px, 62px, 694px, 395px, 'sprite.png', 'icon-orthopadic', );
$icon-path-name: 'icon-path';
$icon-path-x: 0px;
$icon-path-y: 0px;
$icon-path-offset-x: 0px;
$icon-path-offset-y: 0px;
$icon-path-width: 694px;
$icon-path-height: 68px;
$icon-path-total-width: 694px;
$icon-path-total-height: 395px;
$icon-path-image: 'sprite.png';
$icon-path: (0px, 0px, 0px, 0px, 694px, 68px, 694px, 395px, 'sprite.png', 'icon-path', );
$icon-plastic-surgery-name: 'icon-plastic-surgery';
$icon-plastic-surgery-x: 230px;
$icon-plastic-surgery-y: 181px;
$icon-plastic-surgery-offset-x: -230px;
$icon-plastic-surgery-offset-y: -181px;
$icon-plastic-surgery-width: 52px;
$icon-plastic-surgery-height: 52px;
$icon-plastic-surgery-total-width: 694px;
$icon-plastic-surgery-total-height: 395px;
$icon-plastic-surgery-image: 'sprite.png';
$icon-plastic-surgery: (230px, 181px, -230px, -181px, 52px, 52px, 694px, 395px, 'sprite.png', 'icon-plastic-surgery', );
$icon-professional-name: 'icon-professional';
$icon-professional-x: 0px;
$icon-professional-y: 181px;
$icon-professional-offset-x: 0px;
$icon-professional-offset-y: -181px;
$icon-professional-width: 62px;
$icon-professional-height: 88px;
$icon-professional-total-width: 694px;
$icon-professional-total-height: 395px;
$icon-professional-image: 'sprite.png';
$icon-professional: (0px, 181px, 0px, -181px, 62px, 88px, 694px, 395px, 'sprite.png', 'icon-professional', );
$icon-rated-star-name: 'icon-rated-star';
$icon-rated-star-x: 151px;
$icon-rated-star-y: 158px;
$icon-rated-star-offset-x: -151px;
$icon-rated-star-offset-y: -158px;
$icon-rated-star-width: 22px;
$icon-rated-star-height: 21px;
$icon-rated-star-total-width: 694px;
$icon-rated-star-total-height: 395px;
$icon-rated-star-image: 'sprite.png';
$icon-rated-star: (151px, 158px, -151px, -158px, 22px, 21px, 694px, 395px, 'sprite.png', 'icon-rated-star', );
$icon-search-name: 'icon-search';
$icon-search-x: 173px;
$icon-search-y: 158px;
$icon-search-offset-x: -173px;
$icon-search-offset-y: -158px;
$icon-search-width: 16px;
$icon-search-height: 16px;
$icon-search-total-width: 694px;
$icon-search-total-height: 395px;
$icon-search-image: 'sprite.png';
$icon-search: (173px, 158px, -173px, -158px, 16px, 16px, 694px, 395px, 'sprite.png', 'icon-search', );
$icon-spine-name: 'icon-spine';
$icon-spine-x: 0px;
$icon-spine-y: 332px;
$icon-spine-offset-x: 0px;
$icon-spine-offset-y: -332px;
$icon-spine-width: 26px;
$icon-spine-height: 63px;
$icon-spine-total-width: 694px;
$icon-spine-total-height: 395px;
$icon-spine-image: 'sprite.png';
$icon-spine: (0px, 332px, 0px, -332px, 26px, 63px, 694px, 395px, 'sprite.png', 'icon-spine', );
$icon-transplant-name: 'icon-transplant';
$icon-transplant-x: 584px;
$icon-transplant-y: 68px;
$icon-transplant-offset-x: -584px;
$icon-transplant-offset-y: -68px;
$icon-transplant-width: 62px;
$icon-transplant-height: 62px;
$icon-transplant-total-width: 694px;
$icon-transplant-total-height: 395px;
$icon-transplant-image: 'sprite.png';
$icon-transplant: (584px, 68px, -584px, -68px, 62px, 62px, 694px, 395px, 'sprite.png', 'icon-transplant', );
$icon-treansparency-name: 'icon-treansparency';
$icon-treansparency-x: 241px;
$icon-treansparency-y: 68px;
$icon-treansparency-offset-x: -241px;
$icon-treansparency-offset-y: -68px;
$icon-treansparency-width: 81px;
$icon-treansparency-height: 81px;
$icon-treansparency-total-width: 694px;
$icon-treansparency-total-height: 395px;
$icon-treansparency-image: 'sprite.png';
$icon-treansparency: (241px, 68px, -241px, -68px, 81px, 81px, 694px, 395px, 'sprite.png', 'icon-treansparency', );
$icon-urology-name: 'icon-urology';
$icon-urology-x: 398px;
$icon-urology-y: 68px;
$icon-urology-offset-x: -398px;
$icon-urology-offset-y: -68px;
$icon-urology-width: 62px;
$icon-urology-height: 63px;
$icon-urology-total-width: 694px;
$icon-urology-total-height: 395px;
$icon-urology-image: 'sprite.png';
$icon-urology: (398px, 68px, -398px, -68px, 62px, 63px, 694px, 395px, 'sprite.png', 'icon-urology', );
$icon-weight-loss-name: 'icon-weight-loss';
$icon-weight-loss-x: 646px;
$icon-weight-loss-y: 68px;
$icon-weight-loss-offset-x: -646px;
$icon-weight-loss-offset-y: -68px;
$icon-weight-loss-width: 48px;
$icon-weight-loss-height: 62px;
$icon-weight-loss-total-width: 694px;
$icon-weight-loss-total-height: 395px;
$icon-weight-loss-image: 'sprite.png';
$icon-weight-loss: (646px, 68px, -646px, -68px, 48px, 62px, 694px, 395px, 'sprite.png', 'icon-weight-loss', );
$spritesheet-width: 694px;
$spritesheet-height: 395px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($carousel-control-next-icon, $carousel-control-prev-icon, $icon-arrow-filled-next, $icon-cancer, $icon-cardiology, $icon-care, $icon-carousel-quotes, $icon-dentistry, $icon-fertility, $icon-gastroenterlogy, $icon-heartbeat, $icon-neuro-and-brain, $icon-orthopadic, $icon-path, $icon-plastic-surgery, $icon-professional, $icon-rated-star, $icon-search, $icon-spine, $icon-transplant, $icon-treansparency, $icon-urology, $icon-weight-loss, );
$spritesheet: (694px, 395px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
