// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-cancer-name: 'icon-cancer';
$icon-cancer-x: 124px;
$icon-cancer-y: 0px;
$icon-cancer-offset-x: -124px;
$icon-cancer-offset-y: 0px;
$icon-cancer-width: 62px;
$icon-cancer-height: 62px;
$icon-cancer-total-width: 278px;
$icon-cancer-total-height: 187px;
$icon-cancer-image: 'sprite.png';
$icon-cancer: (124px, 0px, -124px, 0px, 62px, 62px, 278px, 187px, 'sprite.png', 'icon-cancer', );
$icon-cardiology-name: 'icon-cardiology';
$icon-cardiology-x: 186px;
$icon-cardiology-y: 0px;
$icon-cardiology-offset-x: -186px;
$icon-cardiology-offset-y: 0px;
$icon-cardiology-width: 52px;
$icon-cardiology-height: 63px;
$icon-cardiology-total-width: 278px;
$icon-cardiology-total-height: 187px;
$icon-cardiology-image: 'sprite.png';
$icon-cardiology: (186px, 0px, -186px, 0px, 52px, 63px, 278px, 187px, 'sprite.png', 'icon-cardiology', );
$icon-dentistry-name: 'icon-dentistry';
$icon-dentistry-x: 0px;
$icon-dentistry-y: 63px;
$icon-dentistry-offset-x: 0px;
$icon-dentistry-offset-y: -63px;
$icon-dentistry-width: 62px;
$icon-dentistry-height: 62px;
$icon-dentistry-total-width: 278px;
$icon-dentistry-total-height: 187px;
$icon-dentistry-image: 'sprite.png';
$icon-dentistry: (0px, 63px, 0px, -63px, 62px, 62px, 278px, 187px, 'sprite.png', 'icon-dentistry', );
$icon-fertility-name: 'icon-fertility';
$icon-fertility-x: 0px;
$icon-fertility-y: 0px;
$icon-fertility-offset-x: 0px;
$icon-fertility-offset-y: 0px;
$icon-fertility-width: 62px;
$icon-fertility-height: 63px;
$icon-fertility-total-width: 278px;
$icon-fertility-total-height: 187px;
$icon-fertility-image: 'sprite.png';
$icon-fertility: (0px, 0px, 0px, 0px, 62px, 63px, 278px, 187px, 'sprite.png', 'icon-fertility', );
$icon-gastroenterlogy-name: 'icon-gastroenterlogy';
$icon-gastroenterlogy-x: 0px;
$icon-gastroenterlogy-y: 125px;
$icon-gastroenterlogy-offset-x: 0px;
$icon-gastroenterlogy-offset-y: -125px;
$icon-gastroenterlogy-width: 44px;
$icon-gastroenterlogy-height: 62px;
$icon-gastroenterlogy-total-width: 278px;
$icon-gastroenterlogy-total-height: 187px;
$icon-gastroenterlogy-image: 'sprite.png';
$icon-gastroenterlogy: (0px, 125px, 0px, -125px, 44px, 62px, 278px, 187px, 'sprite.png', 'icon-gastroenterlogy', );
$icon-heartbeat-name: 'icon-heartbeat';
$icon-heartbeat-x: 238px;
$icon-heartbeat-y: 125px;
$icon-heartbeat-offset-x: -238px;
$icon-heartbeat-offset-y: -125px;
$icon-heartbeat-width: 28px;
$icon-heartbeat-height: 26px;
$icon-heartbeat-total-width: 278px;
$icon-heartbeat-total-height: 187px;
$icon-heartbeat-image: 'sprite.png';
$icon-heartbeat: (238px, 125px, -238px, -125px, 28px, 26px, 278px, 187px, 'sprite.png', 'icon-heartbeat', );
$icon-neuro-and-brain-name: 'icon-neuro-and-brain';
$icon-neuro-and-brain-x: 124px;
$icon-neuro-and-brain-y: 63px;
$icon-neuro-and-brain-offset-x: -124px;
$icon-neuro-and-brain-offset-y: -63px;
$icon-neuro-and-brain-width: 62px;
$icon-neuro-and-brain-height: 62px;
$icon-neuro-and-brain-total-width: 278px;
$icon-neuro-and-brain-total-height: 187px;
$icon-neuro-and-brain-image: 'sprite.png';
$icon-neuro-and-brain: (124px, 63px, -124px, -63px, 62px, 62px, 278px, 187px, 'sprite.png', 'icon-neuro-and-brain', );
$icon-orthopadic-name: 'icon-orthopadic';
$icon-orthopadic-x: 238px;
$icon-orthopadic-y: 0px;
$icon-orthopadic-offset-x: -238px;
$icon-orthopadic-offset-y: 0px;
$icon-orthopadic-width: 40px;
$icon-orthopadic-height: 62px;
$icon-orthopadic-total-width: 278px;
$icon-orthopadic-total-height: 187px;
$icon-orthopadic-image: 'sprite.png';
$icon-orthopadic: (238px, 0px, -238px, 0px, 40px, 62px, 278px, 187px, 'sprite.png', 'icon-orthopadic', );
$icon-plastic-surgery-name: 'icon-plastic-surgery';
$icon-plastic-surgery-x: 44px;
$icon-plastic-surgery-y: 125px;
$icon-plastic-surgery-offset-x: -44px;
$icon-plastic-surgery-offset-y: -125px;
$icon-plastic-surgery-width: 52px;
$icon-plastic-surgery-height: 52px;
$icon-plastic-surgery-total-width: 278px;
$icon-plastic-surgery-total-height: 187px;
$icon-plastic-surgery-image: 'sprite.png';
$icon-plastic-surgery: (44px, 125px, -44px, -125px, 52px, 52px, 278px, 187px, 'sprite.png', 'icon-plastic-surgery', );
$icon-search-name: 'icon-search';
$icon-search-x: 238px;
$icon-search-y: 151px;
$icon-search-offset-x: -238px;
$icon-search-offset-y: -151px;
$icon-search-width: 16px;
$icon-search-height: 16px;
$icon-search-total-width: 278px;
$icon-search-total-height: 187px;
$icon-search-image: 'sprite.png';
$icon-search: (238px, 151px, -238px, -151px, 16px, 16px, 278px, 187px, 'sprite.png', 'icon-search', );
$icon-spine-name: 'icon-spine';
$icon-spine-x: 238px;
$icon-spine-y: 62px;
$icon-spine-offset-x: -238px;
$icon-spine-offset-y: -62px;
$icon-spine-width: 26px;
$icon-spine-height: 63px;
$icon-spine-total-width: 278px;
$icon-spine-total-height: 187px;
$icon-spine-image: 'sprite.png';
$icon-spine: (238px, 62px, -238px, -62px, 26px, 63px, 278px, 187px, 'sprite.png', 'icon-spine', );
$icon-transplant-name: 'icon-transplant';
$icon-transplant-x: 62px;
$icon-transplant-y: 63px;
$icon-transplant-offset-x: -62px;
$icon-transplant-offset-y: -63px;
$icon-transplant-width: 62px;
$icon-transplant-height: 62px;
$icon-transplant-total-width: 278px;
$icon-transplant-total-height: 187px;
$icon-transplant-image: 'sprite.png';
$icon-transplant: (62px, 63px, -62px, -63px, 62px, 62px, 278px, 187px, 'sprite.png', 'icon-transplant', );
$icon-urology-name: 'icon-urology';
$icon-urology-x: 62px;
$icon-urology-y: 0px;
$icon-urology-offset-x: -62px;
$icon-urology-offset-y: 0px;
$icon-urology-width: 62px;
$icon-urology-height: 63px;
$icon-urology-total-width: 278px;
$icon-urology-total-height: 187px;
$icon-urology-image: 'sprite.png';
$icon-urology: (62px, 0px, -62px, 0px, 62px, 63px, 278px, 187px, 'sprite.png', 'icon-urology', );
$icon-weight-loss-name: 'icon-weight-loss';
$icon-weight-loss-x: 186px;
$icon-weight-loss-y: 63px;
$icon-weight-loss-offset-x: -186px;
$icon-weight-loss-offset-y: -63px;
$icon-weight-loss-width: 48px;
$icon-weight-loss-height: 62px;
$icon-weight-loss-total-width: 278px;
$icon-weight-loss-total-height: 187px;
$icon-weight-loss-image: 'sprite.png';
$icon-weight-loss: (186px, 63px, -186px, -63px, 48px, 62px, 278px, 187px, 'sprite.png', 'icon-weight-loss', );
$spritesheet-width: 278px;
$spritesheet-height: 187px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon-cancer, $icon-cardiology, $icon-dentistry, $icon-fertility, $icon-gastroenterlogy, $icon-heartbeat, $icon-neuro-and-brain, $icon-orthopadic, $icon-plastic-surgery, $icon-search, $icon-spine, $icon-transplant, $icon-urology, $icon-weight-loss, );
$spritesheet: (278px, 187px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
