    
    .dropdown-wrapper{
        .form-control.select {
            border: none;
            border-bottom: solid 1px;
            border-radius: 0;
            height: 37px;
            padding: 0;
    }
    .label{
        letter-spacing: 1.2px;
        color: #222;
        font-size: .75rem;
        position: relative;
        top: 8px;
        margin: 0 0 0 5px;
    }
}