.medical-lifecycle-wrapper{ 
    .list-header{
        padding: 0;
    }
    .card-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        box-shadow: 0px 8px 16px #1E462B1A;
        border-radius: 4px;
        opacity: 1;
        border: none;
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .path-ui{
        .path{
            position: absolute;
            bottom: 50%;
            left: 60%;
        }
        .arrow1{
            position: relative;
            left: 192px;
            bottom: 6px;
        }
        @media (max-width: 991px){
            display: none;
        }
    }
    .arrow2{
        position: relative;
        left: 192px;
        bottom: 68px;
        @media (max-width: 991px){
           display: none;
        }
    }
    .number{
        color: #F6F7F8;
        font-size: 64px;
        font-family: 'ProximaNovaS-Extrabld';
        text-align: center;
        top: 23px;
        position: relative;
    }
    .content{
        text-align: center;
        padding: 30px 0 0;
        max-width: 234px;
        h4{
            font-size: 1.25rem;
            font-family: 'ProximaNova-Semibold';
            text-align: center;
            text-transform: uppercase;
        }
    }
    .card-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}