    
    .dropdown-wrapper{
        .css-2b097c-container span{
            display: none !important;
        }
        .css-yk16xz-control {
            font-weight: 100;
            line-height: 1.5;
            color: #222;
            border: none;
            border-bottom: solid 1px;
            border-radius: 0;
            height: 37px;
            padding: 0;

            &:focus{
                box-shadow: none;
            }
            background: url("data:image/svg+xml;utf8,<svg  width='8' height='4.001'  xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path class='a' d='M714,825.756l.933-.757L718,827.486,721.067,825l.933.757L718,829Z' transform='translate(-714 -824.999)'/></svg>") no-repeat right ;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-position-x: 97%;
            -webkit-transition: .2s;

             .css-1hb7zxy-IndicatorsContainer{
                display: none !important;   
            }
            .css-tlfecz-indicatorContainer{
                color: #5a5a5a;
            }
            .css-g1d714-ValueContainer{
                all: unset;
            }

            .css-1wa3eu0-placeholder{
                font-weight: 100;
                line-height: 1.5;
                color: #222;
                margin-left: 0;
            }
    }
    .label{
        letter-spacing: 1.2px;
        color: #222;
        font-size: .75rem;
        position: relative;
        top: 2px;
        margin: 0;
    }
}


 
.dropdown-wrapper-default{
    .css-2b097c-container span{
            display: none !important;
        }
    .css-yk16xz-control {
        font-weight: 100;
        line-height: 1.5;
        color: #222;
        height: 46px;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='8.001'><path class='a' d='M711,822.756l.933-.757L718,828.486,724.067,822l.933.757L718,830Z' transform='translate(-711 -821.999)'/></svg>") no-repeat right ;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-family: 'ProximaNova-Regular' !important;
        background-position-x: 99%;
        -webkit-transition: .2s;
        .css-tlfecz-indicatorContainer{
            color: #5a5a5a;
        }

}
 
.label{
    letter-spacing: 1.2px;
    color: #222;
    font-size: .75rem;
    position: relative;
    top: 8px;
    margin: 0;
}
}