html,
body {
  padding: 0;
  margin: 0;
 font-family: 'Proxima Nova';
  line-height: 1.6;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  // font-size: .88rem;
  font: Semibold .88rem;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

body .container-fluid{
    padding-right: 40px;
    padding-left: 40px;
    max-width: 1366px;
}
.route-selected{
  // border-bottom: solid 2px #46B469;
  color: #284748 !important;
  opacity: 1;
}
ul, li{
  list-style: none;
  padding: 0;
  
}
@import "./common/sprite.scss";
@import './common/icons.scss';
@import '../components//header/header.module.scss';
