


html,
body {
  padding: 0;
  margin: 0;
 font-family: 'ProximaNova-Regular'  !important;
  line-height: 1.6;
  font-size: 1rem;
  color: #222 !important;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  font-size: .88rem;
  // font-family: 'ProximaNova-Regular'  !important;;
  font-family: 'ProximaNova-Semibold' !important;
}
p {
  font-family: 'ProximaNovaT-Thin' !important;
  font-size: .9rem;
}

a:hover {
  text-decoration: underline;
}
label{
  font-family: 'ProximaNovaS-Light', sans-serif  !important;;
  font-weight: 100;
}

img {
  max-width: 100%;
  display: block;
}

body .container-fluid{
    padding-right: 40px;
    padding-left: 40px;
    max-width: 1366px;
}

ul, li{
  list-style: none;
  padding: 0;
  
}



@import "../public/fonts/fonts.scss";
@import "./common/sprite.scss";
@import './common/icons.scss';
@import "./common/common-classes.scss";

//Component SASS
@import '../components/common/dropdown/dropdown.scss';
@import '../components/header/header.scss';
@import '../components/healthCareFilter/healthCare.scss';
@import '../components/deseaseList//deseaseList.scss';
@import '../components/compareDestinationList/compareDestination.scss';
@import '../components/testimonialCarousel/testimonialCarousel.scss';
@import '../components/medicalLifeCycle/medicalLifeCycle.scss';